# PyCity Schools Analysis

- This analysis provides information into how the amount spent, the size, and the type of school may have an affect on students and their reading/math test scores.

- The higher the spending range, the lower the overall passing score seems to drop.
- Schools that have smaller student sizes (Small or Medium) seem to yield better test resulst across the board.
- Per school type, it is shown that Charter schools yield higher test scores than District schools (Overall: 90.4% vs. 53.6%).
  
---

In [113]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("schools_complete.csv")
student_data_to_load = Path("students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

## District Summary

In [114]:
# Calculate the total number of unique schools
school_count = school_data_complete["school_name"].nunique()
school_count

15

In [115]:
# Calculate the total number of students
student_count = school_data_complete["student_name"].count()
student_count

39170

In [116]:
# Calculate the total budget
total_budget = school_data_complete["budget"].sum()
total_budget

82932329558

In [117]:
# Calculate the average (mean) math score
average_math_score = school_data_complete["math_score"].mean()
average_math_score

78.98537145774827

In [118]:
# Calculate the average (mean) reading score
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

81.87784018381414

In [119]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = passing_math_count / float(student_count) * 100
passing_math_percentage

74.9808526933878

In [120]:
# Calculate the percentage of students who passed reading (hint: look at how the math percentage was calculated)  
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = passing_reading_count/ float(student_count) * 100
passing_reading_percentage

85.80546336482001

In [121]:
# Use the following to calculate the percentage of students that passed math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [122]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame({"Total Schools": [school_count],
                                "Total Students": [student_count],
                                 "Total Budget": [total_budget],
                                 "Average Math Score": [average_math_score],
                                 "Average Reading Score": [average_reading_score],
                                 "Students Passed Math": [passing_math_count],
                                 "Students Passed Reading": [passing_reading_count],
                                 "Total Students Passed": [overall_passing_rate]})

# Formatting
district_summary["Total Schools"] = district_summary["Total Schools"].map("{:,}".format)
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)
district_summary["Average Math Score"] = district_summary["Average Math Score"].map("{:.1f}%".format)
district_summary["Average Reading Score"] = district_summary["Average Reading Score"].map("{:.1f}%".format)
district_summary["Students Passed Math"] = district_summary["Students Passed Math"].map("{:,.0f}".format)
district_summary["Students Passed Reading"] = district_summary["Students Passed Reading"].map("{:,.0f}".format)
district_summary["Total Students Passed"] = district_summary["Total Students Passed"].map("{:.1f}%".format)

# Display the DataFrame
district_summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,Students Passed Math,Students Passed Reading,Total Students Passed
0,15,"39,170","$82,932,329,558.00",79.0%,81.9%,"29,370","33,610",65.2%

## School Summary

In [123]:
# Use the code provided to select all of the school types
school_types = school_data_complete.groupby("school_name")["type"].first()
school_types

school_name
Bailey High School       District
Cabrera High School       Charter
Figueroa High School     District
Ford High School         District
Griffin High School       Charter
Hernandez High School    District
Holden High School        Charter
Huang High School        District
Johnson High School      District
Pena High School          Charter
Rodriguez High School    District
Shelton High School       Charter
Thomas High School        Charter
Wilson High School        Charter
Wright High School        Charter
Name: type, dtype: object

In [124]:
# Calculate the total student count per school
per_school_counts = school_data_complete.groupby("school_name")["student_name"].count()
per_school_counts

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [125]:
# Calculate the total school budget and per capita spending per school
per_school_budget = school_data_complete.groupby("school_name")["budget"].first()
per_school_budget

per_school_capita = per_school_budget/per_school_counts
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [126]:
# Calculate the average test scores per school
per_school_math = school_data_complete.groupby("school_name")["math_score"].mean()
per_school_math

per_school_reading = school_data_complete.groupby("school_name")["reading_score"].mean()
per_school_reading

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [127]:
# Calculate the number of students per school with math scores of 70 or higher
students_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
school_students_passing_math = students_passing_math.groupby(["school_name"]).size()
school_students_passing_math

school_name
Bailey High School       3318
Cabrera High School      1749
Figueroa High School     1946
Ford High School         1871
Griffin High School      1371
Hernandez High School    3094
Holden High School        395
Huang High School        1916
Johnson High School      3145
Pena High School          910
Rodriguez High School    2654
Shelton High School      1653
Thomas High School       1525
Wilson High School       2143
Wright High School       1680
dtype: int64

In [128]:
# Calculate the number of students per school with reading scores of 70 or higher
students_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
school_students_passing_reading = students_passing_reading.groupby(["school_name"]).size()
school_students_passing_reading

school_name
Bailey High School       4077
Cabrera High School      1803
Figueroa High School     2381
Ford High School         2172
Griffin High School      1426
Hernandez High School    3748
Holden High School        411
Huang High School        2372
Johnson High School      3867
Pena High School          923
Rodriguez High School    3208
Shelton High School      1688
Thomas High School       1591
Wilson High School       2204
Wright High School       1739
dtype: int64

In [129]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()
school_students_passing_math_and_reading

school_name
Bailey High School       2719
Cabrera High School      1697
Figueroa High School     1569
Ford High School         1487
Griffin High School      1330
Hernandez High School    2481
Holden High School        381
Huang High School        1561
Johnson High School      2549
Pena High School          871
Rodriguez High School    2119
Shelton High School      1583
Thomas High School       1487
Wilson High School       2068
Wright High School       1626
dtype: int64

In [130]:
# Use the provided code to calculate the passing rates
per_school_passing_math = school_students_passing_math / per_school_counts * 100
per_school_passing_reading = school_students_passing_reading / per_school_counts * 100
overall_passing_rate = school_students_passing_math_and_reading / per_school_counts * 100
print(per_school_passing_math.head())
print(per_school_passing_reading.head())
print(overall_passing_rate.head())

school_name
Bailey High School      66.680064
Cabrera High School     94.133477
Figueroa High School    65.988471
Ford High School        68.309602
Griffin High School     93.392371
dtype: float64
school_name
Bailey High School      81.933280
Cabrera High School     97.039828
Figueroa High School    80.739234
Ford High School        79.299014
Griffin High School     97.138965
dtype: float64
school_name
Bailey High School      54.642283
Cabrera High School     91.334769
Figueroa High School    53.204476
Ford High School        54.289887
Griffin High School     90.599455
dtype: float64

In [131]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame({"School Types": school_types, 
                                "Total Students Per School": per_school_counts,
                                 "Total Budget Per School": per_school_budget,
                                 "Capita Per School": per_school_capita,
                                 "Average Math Score Per School": per_school_math,
                                 "Average Reading Score Per School": per_school_reading,
                                 "Students Passed Math Per School": school_students_passing_math,
                                 "Students Passed Reading Per School": school_students_passing_reading,
                                 "Total Students Passed Per School": school_students_passing_math_and_reading,
                                 "Overall Passing Rate Per School": overall_passing_rate})

# Formatting
per_school_summary["Total Students Per School"] = per_school_summary["Total Students Per School"].map("{:.0F}".format)
per_school_summary["Total Budget Per School"] = per_school_summary["Total Budget Per School"].map("${:,.2f}".format)
per_school_summary["Capita Per School"] = per_school_summary["Capita Per School"].map("${:,.2f}".format)
per_school_summary["Average Math Score Per School"] = per_school_summary["Average Math Score Per School"].map("{:.1f}%".format)
per_school_summary["Average Reading Score Per School"] = per_school_summary["Average Reading Score Per School"].map("{:.1f}%".format)
per_school_summary["Students Passed Math Per School"] = per_school_summary["Students Passed Math Per School"].map("{:,.0f}".format)
per_school_summary["Students Passed Reading Per School"] = per_school_summary["Students Passed Reading Per School"].map("{:,.0f}".format)
per_school_summary["Total Students Passed Per School"] = per_school_summary["Total Students Passed Per School"].map("{:,.0f}".format)
per_school_summary["Overall Passing Rate Per School"] = per_school_summary["Overall Passing Rate Per School"].map("{:.1f}%".format)

# Display the DataFrame
per_school_summary

,School Types,Total Students Per School,Total Budget Per School,Capita Per School,Average Math Score Per School,Average Reading Score Per School,Students Passed Math Per School,Students Passed Reading Per School,Total Students Passed Per School,Overall Passing Rate Per School
school_name,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,"3,318","4,077","2,719",54.6%
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,"1,749","1,803","1,697",91.3%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,"1,946","2,381","1,569",53.2%
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,"1,871","2,172","1,487",54.3%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,"1,371","1,426","1,330",90.6%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,"3,094","3,748","2,481",53.5%
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,395,411,381,89.2%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,"1,916","2,372","1,561",53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,"3,145","3,867","2,549",53.5%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,910,923,871,90.5%
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,"2,654","3,208","2,119",53.0%
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,"1,653","1,688","1,583",89.9%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,"1,525","1,591","1,487",90.9%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,"2,143","2,204","2,068",90.6%
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,"1,680","1,739","1,626",90.3%

## Highest-Performing Schools (by % Overall Passing)

In [132]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools = per_school_summary.sort_values(["Overall Passing Rate Per School"], ascending=False)
top_schools.head(5)

,School Types,Total Students Per School,Total Budget Per School,Capita Per School,Average Math Score Per School,Average Reading Score Per School,Students Passed Math Per School,Students Passed Reading Per School,Total Students Passed Per School,Overall Passing Rate Per School
school_name,,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,"1,749","1,803","1,697",91.3%
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,"1,525","1,591","1,487",90.9%
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,"1,371","1,426","1,330",90.6%
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,"2,143","2,204","2,068",90.6%
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,910,923,871,90.5%

## Bottom Performing Schools (By % Overall Passing)

In [133]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools = per_school_summary.sort_values(["Overall Passing Rate Per School"], ascending=True)
bottom_schools.head(5)

,School Types,Total Students Per School,Total Budget Per School,Capita Per School,Average Math Score Per School,Average Reading Score Per School,Students Passed Math Per School,Students Passed Reading Per School,Total Students Passed Per School,Overall Passing Rate Per School
school_name,,,,,,,,,,
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,"2,654","3,208","2,119",53.0%
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,"1,946","2,381","1,569",53.2%
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,"3,094","3,748","2,481",53.5%
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,"1,916","2,372","1,561",53.5%
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,"3,145","3,867","2,549",53.5%

## Math Scores by Grade

In [134]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores = ninth_graders.groupby('school_name')
ninth_grade_math_avg = ninth_grade_math_scores['math_score'].mean()
tenth_grade_math_scores = tenth_graders.groupby('school_name')
tenth_grade_math_avg = tenth_grade_math_scores['math_score'].mean()
eleventh_grade_math_scores = eleventh_graders.groupby('school_name')
eleventh_grade_math_avg = eleventh_grade_math_scores['math_score'].mean()
twelfth_grade_math_scores = twelfth_graders.groupby('school_name')
twelfth_grade_math_avg = twelfth_grade_math_scores['math_score'].mean()

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade = pd.DataFrame({"9th": ninth_grade_math_avg,
                                    "10th": tenth_grade_math_avg,
                                    "11th": eleventh_grade_math_avg,
                                    "12th": twelfth_grade_math_avg})

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

## Reading Score by Grade

In [135]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores = ninth_graders.groupby('school_name')
ninth_grade_reading_avg = ninth_grade_reading_scores['reading_score'].mean()
tenth_grade_reading_scores = tenth_graders.groupby('school_name')
tenth_grade_reading_avg = tenth_grade_reading_scores['reading_score'].mean()
eleventh_grade_reading_scores = eleventh_graders.groupby('school_name')
eleventh_grade_reading_avg = eleventh_grade_reading_scores['reading_score'].mean()
twelfth_grade_reading_scores = twelfth_graders.groupby('school_name')
twelfth_grade_reading_avg = twelfth_grade_reading_scores['reading_score'].mean()

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade = pd.DataFrame({"9th": ninth_grade_reading_avg,
                                    "10th": tenth_grade_reading_avg,
                                    "11th": eleventh_grade_reading_avg,
                                    "12th": twelfth_grade_reading_avg})

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

## Scores by School Spending

In [136]:
# Establish the bins 
spending_bins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [137]:
# Create a copy of the school summary since it has the "Per Student Budget" 
school_spending_df = per_school_summary.copy()

In [138]:
#Change Total Capita Per School to str
school_spending_df["Capita Per School"] = school_spending_df["Capita Per School"].astype(str)

In [139]:
# Use `pd.cut` to categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=labels, include_lowest=True)
school_spending_df

,School Types,Total Students Per School,Total Budget Per School,Capita Per School,Average Math Score Per School,Average Reading Score Per School,Students Passed Math Per School,Students Passed Reading Per School,Total Students Passed Per School,Overall Passing Rate Per School,Spending Ranges (Per Student)
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,"3,318","4,077","2,719",54.6%,$585-630
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,"1,749","1,803","1,697",91.3%,<$585
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,"1,946","2,381","1,569",53.2%,$630-645
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,"1,871","2,172","1,487",54.3%,$630-645
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,"1,371","1,426","1,330",90.6%,$585-630
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,"3,094","3,748","2,481",53.5%,$645-680
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,395,411,381,89.2%,<$585
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,"1,916","2,372","1,561",53.5%,$645-680
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,"3,145","3,867","2,549",53.5%,$645-680
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,910,923,871,90.5%,$585-630
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,"2,654","3,208","2,119",53.0%,$630-645
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,"1,653","1,688","1,583",89.9%,$585-630
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,"1,525","1,591","1,487",90.9%,$630-645
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,"2,143","2,204","2,068",90.6%,<$585
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,"1,680","1,739","1,626",90.3%,<$585

In [140]:
#Change format
school_spending_df["Average Math Score Per School"] = school_spending_df["Average Math Score Per School"].str.rstrip("%")
school_spending_df["Average Math Score Per School"] = pd.to_numeric(school_spending_df["Average Math Score Per School"])

In [141]:
school_spending_df["Average Reading Score Per School"] = school_spending_df["Average Reading Score Per School"].str.rstrip("%")
school_spending_df["Average Reading Score Per School"] = pd.to_numeric(school_spending_df["Average Reading Score Per School"], downcast="float")

In [142]:
school_spending_df["Students Passed Math Per School"] = school_spending_df["Students Passed Math Per School"].apply(lambda x : x.replace(',',''))
school_spending_df["Students Passed Math Per School"] = pd.to_numeric(school_spending_df["Students Passed Math Per School"], downcast="float")

In [143]:
school_spending_df["Students Passed Reading Per School"] = school_spending_df["Students Passed Reading Per School"].apply(lambda x : x.replace(',',''))
school_spending_df["Students Passed Reading Per School"] = pd.to_numeric(school_spending_df["Students Passed Reading Per School"], downcast="float")

In [144]:
school_spending_df["Overall Passing Rate Per School"] = school_spending_df["Overall Passing Rate Per School"].str.rstrip("%")
school_spending_df["Overall Passing Rate Per School"] = pd.to_numeric(school_spending_df["Overall Passing Rate Per School"], downcast="float")

In [145]:
#  Calculate averages for the desired columns. 
spending_math_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Math Score Per School"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Average Reading Score Per School"].mean()
spending_passing_math = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Students Passed Math Per School"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Students Passed Reading Per School"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"])["Overall Passing Rate Per School"].mean()

In [146]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({"Average Math Score": spending_math_scores,
                                "Average Reading Score": spending_reading_scores,
                                "Passed Math Total": spending_passing_math,
                                "Passed Reading Total": spending_passing_reading,
                                "Overall Passing Rate": overall_passing_spending})

# Display results
spending_summary

,Average Math Score,Average Reading Score,Passed Math Total,Passed Reading Total,Overall Passing Rate
Spending Ranges (Per Student),,,,,
<$585,83.475,83.949997,1491.750000,1539.25,90.349998
$585-630,81.900,83.125000,1813.000000,2028.50,81.400002
$630-645,78.500,81.599998,1999.000000,2338.00,62.849998
$645-680,77.000,81.033333,2718.333252,3329.00,53.500000

## Scores by School Size

In [147]:
# Establish the bins.
size_bins = [0, 1000, 2000, 5000]
labels = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [148]:
# Categorize the spending based on the bins
# Use `pd.cut` on the "Total Students" column of the `per_school_summary` DataFrame.

per_school_summary["School Size"] = pd.cut(per_school_counts, size_bins, labels=labels)
per_school_summary

,School Types,Total Students Per School,Total Budget Per School,Capita Per School,Average Math Score Per School,Average Reading Score Per School,Students Passed Math Per School,Students Passed Reading Per School,Total Students Passed Per School,Overall Passing Rate Per School,School Size
school_name,,,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.0%,81.0%,"3,318","4,077","2,719",54.6%,Large (2000-5000)
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.1%,84.0%,"1,749","1,803","1,697",91.3%,Medium (1000-2000)
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.7%,81.2%,"1,946","2,381","1,569",53.2%,Large (2000-5000)
Ford High School,District,2739,"$1,763,916.00",$644.00,77.1%,80.7%,"1,871","2,172","1,487",54.3%,Large (2000-5000)
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.4%,83.8%,"1,371","1,426","1,330",90.6%,Medium (1000-2000)
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.3%,80.9%,"3,094","3,748","2,481",53.5%,Large (2000-5000)
Holden High School,Charter,427,"$248,087.00",$581.00,83.8%,83.8%,395,411,381,89.2%,Small (<1000)
Huang High School,District,2917,"$1,910,635.00",$655.00,76.6%,81.2%,"1,916","2,372","1,561",53.5%,Large (2000-5000)
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.1%,81.0%,"3,145","3,867","2,549",53.5%,Large (2000-5000)
Pena High School,Charter,962,"$585,858.00",$609.00,83.8%,84.0%,910,923,871,90.5%,Small (<1000)
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.8%,80.7%,"2,654","3,208","2,119",53.0%,Large (2000-5000)
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.4%,83.7%,"1,653","1,688","1,583",89.9%,Medium (1000-2000)
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.4%,83.8%,"1,525","1,591","1,487",90.9%,Medium (1000-2000)
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.3%,84.0%,"2,143","2,204","2,068",90.6%,Large (2000-5000)
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.7%,84.0%,"1,680","1,739","1,626",90.3%,Medium (1000-2000)

In [149]:
#Change format
per_school_summary["Average Math Score Per School"] = per_school_summary["Average Math Score Per School"].str.rstrip("%")
per_school_summary["Average Math Score Per School"] = pd.to_numeric(per_school_summary["Average Math Score Per School"])

In [150]:
per_school_summary["Average Reading Score Per School"] = per_school_summary["Average Reading Score Per School"].str.rstrip("%")
per_school_summary["Average Reading Score Per School"] = pd.to_numeric(per_school_summary["Average Reading Score Per School"], downcast="float")

In [151]:
per_school_summary["Students Passed Math Per School"] = per_school_summary["Students Passed Math Per School"].apply(lambda x : x.replace(',',''))
per_school_summary["Students Passed Math Per School"] = pd.to_numeric(per_school_summary["Students Passed Math Per School"], downcast="float")

In [152]:
per_school_summary["Students Passed Reading Per School"] = per_school_summary["Students Passed Reading Per School"].apply(lambda x : x.replace(',',''))
per_school_summary["Students Passed Reading Per School"] = pd.to_numeric(per_school_summary["Students Passed Reading Per School"], downcast="float")

In [153]:
per_school_summary["Overall Passing Rate Per School"] = per_school_summary["Overall Passing Rate Per School"].str.rstrip("%")
per_school_summary["Overall Passing Rate Per School"] = pd.to_numeric(per_school_summary["Overall Passing Rate Per School"], downcast="float")

In [154]:
# Calculate averages for the desired columns. 
size_math_scores = per_school_summary.groupby(["School Size"])["Average Math Score Per School"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"])["Average Reading Score Per School"].mean()
size_passing_math = per_school_summary.groupby(["School Size"])["Students Passed Math Per School"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"])["Students Passed Reading Per School"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"])["Overall Passing Rate Per School"].mean()

In [155]:
# Create a DataFrame called `size_summary` that breaks down school performance based on school size (small, medium, or large).
# Use the scores above to create a new DataFrame called `size_summary`
size_summary = pd.DataFrame({"Average Math Score": size_math_scores,
                            "Average Reading Score": size_reading_scores,
                            "Passed Math Total": size_passing_math,
                            "Passed Reading Total": size_passing_reading,
                            "Overall Passing Rate": size_overall_passing,
                            })

# Display results
size_summary

,Average Math Score,Average Reading Score,Passed Math Total,Passed Reading Total,Overall Passing Rate
School Size,,,,,
Small (<1000),83.8000,83.900002,652.500000,667.000000,89.849998
Medium (1000-2000),83.4000,83.860001,1595.599976,1649.400024,90.599998
Large (2000-5000),77.7375,81.337502,2510.875000,3003.625000,58.275002

## Scores by School Type

In [156]:
# Group the per_school_summary DataFrame by "School Type" and average the results.
average_math_score_by_type = per_school_summary.groupby(["School Types"])["Average Math Score Per School"].mean()
average_reading_score_by_type = per_school_summary.groupby(["School Types"])["Average Reading Score Per School"].mean()
average_percent_passing_math_by_type = per_school_summary.groupby(["School Types"])["Students Passed Math Per School"].mean()
average_percent_passing_reading_by_type = per_school_summary.groupby(["School Types"])["Students Passed Reading Per School"].mean()
average_percent_overall_passing_by_type = per_school_summary.groupby(["School Types"])["Overall Passing Rate Per School"].mean()

In [157]:
# Assemble the new data by type into a DataFrame called `type_summary`
type_summary = pd.DataFrame({"Average Math Score": average_math_score_by_type,
                            "Average Reading Score": average_reading_score_by_type,
                            "Passed Math Total": average_percent_passing_math_by_type,
                            "Passed Reading Total": average_percent_passing_reading_by_type,
                            "Overall Passing Rate": average_percent_overall_passing_by_type,
                            })

# Display results
type_summary

,Average Math Score,Average Reading Score,Passed Math Total,Passed Reading Total,Overall Passing Rate
School Types,,,,,
Charter,83.487500,83.887497,1428.250000,1473.125000,90.412498
District,76.942857,80.957146,2563.428467,3117.857178,53.657143